.point {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.active-point {
  width: 40px;
  height: 40px;
  border-width: 3px;
  /* border-style: dashed; */

  /* animation: rotateAnim 1.5s 0s infinite forwards; */
}

@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }

  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info-div {
  position: absolute;
  width: 130px;
  height: auto;
  border-radius: 20%;
  border: 2px solid black;
  text-align: center;
  font-size: small;
}

.hiddenDiv {
  display: none;
}

.visibleDiv {
  display: inline;
}

.shrink {
  width: 200px;
  transition: width 2s;
}

.testS {
  aspect-ratio: 16/9;
}
