@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /postcss7-compat;

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #377cfb;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c5cb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  position: relative;
  min-height: 100%;
}

.dark-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.dark-table {
  background-color: black;
  color: white;
}

.dark-table tr:hover td[class*="mantine"] {
  background-color: black;
}
